<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="ResultRootFolder" value="\\163.184.133.6\dl_Taiji_perm\Tai Ji\ZXL\CodingLeague"/>-->
    <add key="ResultRootFolder" value="\\cn0005hpv047.dir.slb.com\CodingLeague\Result"/>
    <add key="ScanInterval" value="15000"/>
    <add key="ResultFileMatchString" value="*_Result.txt"/>
    <add key="RedisConnectString" value="localhost:6379"/>
    <add key="TimeDurationUnit" value="ms"/>
  </appSettings>
</configuration>